//- Миксин для слайдера с навигацией
//- Использование: +slider('sponsors', 'Sponsors')
mixin slider(sliderName, title)
  section(class=`${sliderName}-section`)
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2(class=`${sliderName}-section__title`)= title
            .d-flex.gap-3(class=`${sliderName}-section__nav`)
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center(class=`${sliderName}-section__nav-btn ${sliderName}-section__nav-btn--prev` type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center(class=`${sliderName}-section__nav-btn ${sliderName}-section__nav-btn--next` type="button" aria-label="Next")
                i.fas.fa-arrow-right
          .swiper(class=`${sliderName}-swiper`)
            .swiper-wrapper
              block
            .swiper-pagination(class=`${sliderName}-swiper__pagination`)

